---
// libraries
import { Image } from 'astro:assets'
import { Schema } from 'astro-seo-schema'
import { GoogleAnalytics } from 'astro-google-analytics'

// css
import '@/styles/plugins/normalize.min.css'
import '@/styles/main.scss'

// components
import PageTransition from '@/components/PageTransition.astro'
import Menu from '@/components/Menu.astro'
import Footer from '@/components/Footer.astro'

// routes / utils
import routes from '@/utils/routes'

// layout props
const {
	website_title='Saad®',
	title=website_title,
	description='Saad® is an internationally award-winning boutique brand consultancy specialized in building and transforming the future of businesses.',
	page_class=''
} = Astro.props

// global
const global = {
	site_url: Astro.site,
	author: 'Senz Design',
	google_analytics: 'G-XXXXXXXXXX',
}

---

<!doctype html>

<html lang='en-US'>
	
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<meta name='format-detection' content='telephone=no'>
		
		<meta name='author' content={global.author}>
		<meta name='generator' content={Astro.generator} />
		
		<link rel='shortcut icon' href='/img/favicon.svg'>

		<title>{title}</title>
		<meta name='description' content={description}/>
		<link rel='canonical' href={global.site_url} />

		<!-- schema -->
		<slot name='schema' />

		<!-- facebook -->
		<meta property='og:locale' content='en_US' />
		<meta property='og:type' content='website' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description}/>
		<meta property='og:url' content={global.site_url} />
		<meta property='og:site_name' content={website_title} />
		<meta property='og:image' content={global.site_url + '/img/og-image.jpg'} />
		<meta property='og:image:secure_url' content={global.site_url + '/img/og-image.jpg'} />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='630' />

		<!-- google analytics -->
		<GoogleAnalytics id={global.google_analytics} />

	</head>

	<body class={page_class}>

		<PageTransition />

		<header>
			<Menu />
		</header>

		<div id='smooth-wrapper'>
			<div id='smooth-content'>
				
				<main id='swup'>
					<slot />
				</main>

				<Footer />

			</div>
		</div>

	</body>

</html>

<script>
	import { gsap } from 'gsap'
	import { ScrollSmoother } from 'gsap/ScrollSmoother'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollSmoother, ScrollTrigger)

	let smoother

	// init copyright
	function initCopyright() {
		const message = 'Design Gabriel Leon 🔗 www.behance.net/leonngabr \nCode Senz Design 🔗 www.senzdsn.com'
		const style = 'color: #f8f8f8; font-size: 12px; font-weight: bold; background-color: #0d0e13; padding: 8px'
		console.log(`%c${message}`, style)
	}

	// init scroll smoother
	function initScrollSmoother() {
		if (ScrollTrigger.isTouch !== 1) {

			// create scroll smoother
			smoother = ScrollSmoother.create({
				smooth: 2,
				speed: .75,
				effects: true,
				//smoothTouch: .1,
				//normalizeScroll: true
			})

			// parallax effect
			smoother.effects('.parallax-img', {
				speed: 'auto'
			})

			// listen to the event emitted from the PageTransition component
			document.addEventListener('resetScroll', function() {
				smoother.scrollTo(0, false)
			})
		}
	}

	function scrollToTop() {
		document.addEventListener('scrollTop', function() {
			if (ScrollTrigger.isTouch !== 1) {
				smoother.scrollTo(0, 1000)
			} else {
				window.scrollTo({
					top: 0,
					behavior: 'smooth'
				})
			}
		})
	}

	function initEverything(){
		initScrollSmoother()
		scrollToTop()
		initCopyright()
	}

	initEverything()

</script>